<table id="tabuleiro" class="text-center">
    <tr>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
    </tr>
    <tr>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
    </tr>
    <tr>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
    </tr>
    <tr>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
    </tr>
    <tr>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
    </tr>
    <tr>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
    </tr>
    <tr>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
    </tr>
    <tr>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
        <td class = "branco"></td>
        <td class="vermelho"></td>
    </tr>
</table>